<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="posEntities" connectionString="metadata=res://*/EDMX.POSEntities.csdl|res://*/EDMX.POSEntities.ssdl|res://*/EDMX.POSEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=webpos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceURL" value="http://localhost/RetailPOSService/RetailPOSService.svc"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRetailPOSServiceContract" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/RetailPOSService/RetailPOSService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetailPOSServiceContract"
        contract="RetailPOSService.IRetailPOSServiceContract" name="WSHttpBinding_IRetailPOSServiceContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>