<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="posEntities" connectionString="metadata=res://*/EDMX.POSEntities.csdl|res://*/EDMX.POSEntities.ssdl|res://*/EDMX.POSEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=webpos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceURL" value="http://localhost/RetailPOSService/RetailPOSService.svc"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetailPOSServiceContract" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/RetailPOSService/RetailPOSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetailPOSServiceContract"
        contract="RetailPOSService.IRetailPOSServiceContract" name="BasicHttpBinding_IRetailPOSServiceContract" />
    </client>
  </system.serviceModel>
</configuration>