<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="posEntities" connectionString="metadata=res://*/EDMX.POSEntities.csdl|res://*/EDMX.POSEntities.ssdl|res://*/EDMX.POSEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;User Id=root;Password=root;Persist Security Info=True;database=webpos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>