<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="posEntities" connectionString="metadata=res://*/EDMX.POSEntities.csdl|res://*/EDMX.POSEntities.ssdl|res://*/EDMX.POSEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=webpos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetailPOSServiceContract" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sairam-pc/RetailPOSService/RetailPOSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetailPOSServiceContract"
        contract="RetailPOSService.IRetailPOSServiceContract" name="BasicHttpBinding_IRetailPOSServiceContract" />
    </client>
  </system.serviceModel>
</configuration>